* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    text-decoration: none;
}

.header {
    background-color: black;

}


.ggg {
    display: flex;
    justify-content: space-between;
    color: beige;
}


.inf {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;

}

.cards img {
    width: 100%;
}

.cardss {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hhh {
    background: url(../img/mercedes_benz.avif) no-repeat center/cover;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.geri {
    display: block;
    color: #fff;
    border: 1px solid #0078d6;
    border-radius: 35px;
    background-color: #0078d6;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

.feri {
    display: block;
    border: 1px solid #fff;
    border-radius: 35px;
    text-align: center;
    padding: 10px;
    color: #fff;
    width: 100%;
    font-size: 18px;
}

.footerwrapper {
    background-color: black;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
}

.geri p {
    color: #fff;
}

.blue a {
    max-width: 120px;
    padding: 10px;
    background-color: blue;
    border-radius: 30%;
}

.tutu {
    background: url(../img/bluecar.jpg) no-repeat center/cover;
    min-height: 70vh;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
}

.juju h3 {
    padding: 10px;
    font-size: 30px;
}

.juju p {
    font-size: 20px;
}

.tect {
    max-width: 100%;
}

.tect img {
    width: 100%;
}

.car h2 {
    padding: 20px;
}

.car ul {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.fold {
    background: url(../img/sone.jpg) no-repeat center/cover;
    padding: 35px;
}

.lop {
    background: url(../img/mountain.avif) no-repeat center/cover;
    padding: 35px;

}

.poplo {
    background: url(../img/tect.jpg) no-repeat center/cover;
    padding: 35px;
}

.lopatka {
    background: url(../img/mercedesglc.jpg) no-repeat center/cover;
    padding: 35px;
    height: 450px;
    color: #fff;
}

.tect {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.rep {
    border-left: 1px solid grey;
}

.about {
    background: url(../img/road.png) no-repeat center/cover;
    padding: 35px;
    max-width: 450px;
    height: 150px;
    font-size: 45px;
    text-align: center;
}

.about img {
    width: 100px;

}

.about a {
    color: #fff;
}

.coc {
    background: url(../img/people.jpg) no-repeat center/cover;
    padding: 35px;
    max-width: 450px;
    height: 150px;
    font-size: 45px;
    text-align: center;
    margin: 35px;
}

.coc img {
    width: 100px;
}

.coc a {
    color: #fff;
}

h1 {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 50px;
}

.foooter a {
    color: white;
}

.full {
    display: flex;
    align-items: center;
}
.hhh p{
color: #fff;
font-size: 18px;
padding: 23px;
}
