* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;

}


.ggg {
    display: flex;
    justify-content: space-between;
    color: beige;
}


.inf {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;

}

.cards img {
    width: 100%;
}

.cardss {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hhh {
    background: url(../img/mercedes_benz.avif) no-repeat center/cover;
    height: 70vh;
}

.geri {
    color: #fff;
    border: 1px solid blue;
    border-radius: 30%;
    background-color: blue;
    text-align: center;
    max-width: 120px;
    padding: 10px;
}

.hhh a {
    display: flex;
    justify-content: flex-start;
}

.feri {
    border: 1px solid #fff;
    max-width: 120px;
    border-radius: 30%;
    text-align: center;
    padding: 10px;
    color: #fff;

}

.footerwrapper {
    background-color: black;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.geri p {
    color: #fff;
}

.blue a {
    max-width: 120px;
    padding: 10px;
    background-color: blue;
    border-radius: 30%;
}

.tutu {
    background: url(../img/bluecar.jpg) no-repeat center/cover;
    min-height: 70vh;
    margin-top: 50px;
    margin-bottom: 50px;
    color:#fff;
}

.juju h3 {
    padding: 10px;
    font-size: 30px;
}

.juju p {
    font-size: 20px;
}

.tect img {
    width: 30vw;
}

.car h2 {
    padding: 20px;
}

.car ul {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.fold {
    background: url(../img/sone.jpg) no-repeat center/cover;
    width: 5vw;
    padding: 220px;
}
.lop {
    background: url(../img/mountain.avif) no-repeat center/cover;
    width: 5vw;
    padding: 220px;
    
}
.poplo {
    background: url(../img/tect.jpg) no-repeat center/cover;
    width: 5vw;
    padding: 220px;
}
.lopatka {
    background: url(../img/mercedesglc.jpg) no-repeat center/cover;
    width: 5vw;
    padding: 220px;
}