* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: black;

}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.ggg {
    display: flex;
    justify-content: flex-start;
    color: beige;
    gap: 20px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.header_line {
    padding: 15px 0
}

.inf {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;

}

.cards img {
    width: 100%;
}

.cardss {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hhh {
    background: url(../img/mercedes_benz.avif) no-repeat center/cover;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.geri {
    display: block;
    color: #fff;
    border: 1px solid #0078d6;
    border-radius: 35px;
    background-color: #0078d6;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

.feri {
    display: block;
    border: 1px solid #fff;
    border-radius: 35px;
    text-align: center;
    padding: 10px;
    color: #fff;
    width: 100%;
    font-size: 18px;
}

.footerwrapper {
    background-color: black;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
}

.geri p {
    color: #fff;
}

.blue a {
    max-width: 120px;
    padding: 10px;
    background-color: blue;
    border-radius: 30%;
}

.tutu {
    background: url(../img/bluecar.jpg) no-repeat center/cover;
    min-height: 70vh;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
}

.juju h3 {
    padding: 10px;
    font-size: 30px;
}

.juju p {
    font-size: 20px;
}

.tect {
    max-width: 100%;
}

.tect img {
    width: 100%;
}

.car h2 {
    padding: 20px;
}

.car ul {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.card_rec figure {
    padding: 20px 10px;
    height: 90%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
}

.card_rec figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card_rec h3 {
    font-size: 28px;
    text-transform: uppercase;
}

.fold {
    background: url(../img/sone.jpg) no-repeat center/cover;
    padding: 35px;
}

.lop {
    background: url(../img/mountain.avif) no-repeat center/cover;
    padding: 35px;

}

.poplo {
    background: url(../img/tect.jpg) no-repeat center/cover;
    padding: 35px;
}

.lopatka {
    background: url(../img/mercedesglc.jpg) no-repeat center/cover;
    padding: 35px;
    height: 450px;
    color: #fff;
}

.tect {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.rep {
    border-left: 1px solid grey;
}

.about img {
    width: 100px;

}

.about a {
    color: #fff;
}

.coc {
    background: url(../img/people.jpg) no-repeat center/cover;
    padding: 35px;
    max-width: 450px;
    height: 150px;
    font-size: 45px;
    text-align: center;
    margin: 35px;
}

.coc img {
    width: 100px;
}

.coc a {
    color: #fff;
}

h1 {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 50px;
}

footer a {
    color: white;
}

.full {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 40%;
}

.hhh p {
    color: #fff;
    font-size: 18px;
    padding: 23px 0;
}

.inf {
    flex-wrap: wrap;
}

.inf a {
    color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
}

.ggggg {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 45px;
}

.ggggg a {
    color: #fff;
}

.huta img {
    max-width: 52px;
    height: 52px;
}

.huta {
    max-width: 52px;
    max-height: 52px;
}

.polok {
    max-width: 150px;
    gap: 30px;
}

.geri:hover {
    background-color: darkblue;
    transition: 1s;
    border: 1px solid darkblue;
}

.feri:hover {
    background-color: darkgray;
    transition: 1s;
    border: 1px solid darkgray;
}

.tutu a {
    border: 1px solid #0078d6;
    background-color: #0078d6;
    font-size: 20px;
    border-radius: 35px;
    padding: 3px;
}

.tutu {
    font-size: 27px;
}

.tutu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    min-height: 70vh;
}

.tutu a {
    padding: 5px;
    text-align: center;
    max-width: 370px;
}

.tery {
    border: 1px solid grey;
    max-width: 350px;
    border-radius: 10%;
}

.jojo {
    border: 1px solid grey;
    max-width: 350px;
}

.dora {
    border: 1px solid grey;
    max-width: 350px;
}

.lola {
    border: 1px solid grey;
    max-width: 350px;
}

.tutu a {
    color: #fff;
}

.cardss img {
    max-width: 350px;
}

.loyer a {
    color: blue;
    padding: 1px;
}

.loyer a {
    color: blue;
    display: flex;
    justify-content: center;
    border-top: 1px solid grey;
    padding: 5px;
}


.koko a {
    color: blue;
    display: flex;
    justify-content: center;
    border-top: 1px solid grey;
    padding: 5px;
}

.wesy a {
    color: blue;
    display: flex;
    justify-content: center;
    border-top: 1px solid grey;
    padding: 5px;
}

.yupy a {
    color: blue;
    display: flex;
    justify-content: center;
    border-top: 1px solid grey;
    padding: 5px;
}

.about h2 {
    font-size: 45px;
    padding:  30px 60px;
}

.ere {
    font-size: 17px;
}

.car a {
    color: grey;
}

.cards a {
    color: blue;
}

.red {
    border: 1px solid #0078d6;
    width: 140px;
    background-color: #0078d6;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
}

.red a {
    color: #fff;
}

.ere {
    color: rgb(83, 80, 80);
}

.red:hover {
    background-color: darkblue;
    border: 1px solid darkblue;
    transition: 1s;
}
.yut {
    padding: 20px;
}
.text {
    margin: 13px;
}

.car h2 {
    font-size: 35px;
}

.cards h2 {
    text-align: center;
}

.rex {
    padding: 0px 75px;
}

.rex h3 {
    padding: 8px 0px;
    font-size: 25px;
}

.cards a {
    display: block;
    text-align: center;
}

h3 {
    color: black;
}

.card_rec a {
    border: 1px solid #0078d6;
    background-color: #0078d6;
    text-align: center;
    border-radius: 35px;
    color: #fff;
    padding: 10px;
}

.card_rec a:hover {
    background-color: darkblue;
    border: 1px solid darkblue;
    transition: 1s;
}

.rex p {
    padding: 10px;
}

.tutu h3 {
    color: #fff;
}

.cardss a {
    color: black;
}

.vovo a {
    color: #0078d6;
}

footer h3 {
    color: #fff;
    padding: 8px 50px;
}

footer ul {
    padding: 50px;
}

footer li {
    padding: 5px;
}

.vovo {
    border: 0.01 solid grey;
}

.huk {
    color: #0078d6;
    font-size: 20px;
}

.kol a:hover {
    color: #0078d6;
}

.tutu a:hover {
    background-color: darkblue;
    border: 1px solid darkblue;
    transition: 1s;
}

.gggg {
    border: 1px solid grey;
    border-radius: 10%;
}

.gggg img {
    border-radius: 12%;
}

footer h3 {
    padding: 50px;

}